<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
  <title>Gatunki filmowe - MovieClub</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
  <h2 class="list-heading">Gatunki filmowe</h2>
  <p class="list-description">
    Poniżej znajdziesz listę gatunków filmowych w naszym katalogu.
    Wybierz coś dla siebie.
  </p>
  <ul class="list-border">
    <li th:each="genre: ${genres}">
      <a th:href="@{|/gatunek/${genre.name}|}"
         th:text="${genre.name}">
        Horror
      </a>

      <div class="option-admin-button" sec:authorize="hasRole('ADMIN')">
        <form class="custom-admin-button-element" th:action="@{|/admin/usun-gatunek/${genre.id}|}" method="post" th:object="${genre}">
          <button type="submit" class="custom-button">
            <i class="fa-solid fa-trash fa-lg"></i>
          </button>
        </form>
        <a class="custom-admin-button-element"
                href="#"
           th:href="@{|/admin/edytuj-gatunek/${genre.name}|}">
          <i class="fa-regular fa-pen-to-square"></i>
        </a>
      </div>
    </li>
  </ul>
</main>
</body>
</html>