<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
  <title th:text="|${movie.title} - MovieClub|">Tytuł filmu - MovieClub</title>
</head>
<body>
<div class="container">
  <main class="main-content" layout:fragment="content">
    <section class="movie">
      <!-- Podsumowanie -->
      <div class="movie-summary">
        <!-- Plakat -->
        <img src="../static/img/poster-placeholder.png" th:src="${movie.poster ne null} ? @{|/img/${movie.poster}|} : @{/img/poster-placeholder.png}"
             alt="tytuł filmu" th:alt="${movie.title}" class="movie-summary-cover" width="200" height="285"/>
        <!-- informacje o filmie -->
        <div class="movie-summary-info">
          <h1 class="movie-summary-title" th:text="${movie.title}">Władca pierścieni</h1>
          <p class="movie-summary-original-title" th:text="${movie.originalTitle}">Lord of the rings</p>
          <p class="movie-summary-item" th:text="${movie.releaseYear}">Rok: 2001</p>
          <p class="movie-summary-item">Gatunek: <a href="#"
          th:href="@{|/gatunek/${movie.genre}|}"
          th:text="${movie.genre}">Fantasy</a></p>
          <p class="movie-summary-item" th:text="${movie.shortDescription}">
            Podróż odważnego hobbita i jego towarzyszy w poszukiwaniu pierścienia.
          </p>
          <p>
          <div class="option-admin-button" sec:authorize="hasRole('ADMIN')">
            <form class="custom-admin-button-element"  method="post" >
              <button type="submit" class="custom-button">
                <i class="fa-solid fa-trash fa-lg"></i>
              </button>
            </form>
            <a class="custom-admin-button-element"
               href="#"
               th:href="@{|/admin/edytuj-film/${movie.id}|}">
              <i class="fa-regular fa-pen-to-square"></i>
            </a>
          </div>
          </p>
        </div>
      </div>
      <!-- Ocena -->
      <div class="movie-rating-container movie-section">
        <h2 class="movie-section-heading">Ocena</h2>
        <!-- Jeżeli nie oddano żadnego głosu -->
        <p th:unless="${movie.ratingCount}">Brak głosów</p>
        <!-- Jeżeli oddano głos -->
        <div th:if="${movie.ratingCount}">
          <!-- Zaokrąglamy ocenę do 1 miejsca przed i po przecinku -->
          <p class="movie-rating-value" th:text="${#numbers.formatDecimal(movie.avgRating, 1, 1)}">4.0</p>
          <p th:text="|Liczba ocen: ${movie.ratingCount}|">Liczba ocen: 134</p>
        </div>
        <!-- Dodajemy th:action, formularz wyświetlamy tylko zalogowanemu użytkownikowi -->
        <form action="#" th:action="@{/ocen-film}" method="post"
              sec:authorize="isAuthenticated()"
              class="movie-rating-form">
          <!-- Identyfikator filmu, na który głosujemy-->
          <p>Twoja ocena</p>
          <input type="hidden" name="movieId" th:value="${movie.id}">
          <div class="movie-rating-buttons">
            <!-- Generujemy 5 gwiazdek w pętli -->
            <button class="movie-rating-button"
                    name="rating"
                    th:each="i: ${#numbers.sequence(1, 5)}"
                    th:value="${i}">
              <!-- Pełną i pustą gwiazdkę rozróżniamy dodając odpowiednią klasę na podstawie głosu użytkownika -->
              <i class="fa-star" th:classappend="${i <= userRating ? 'fa-solid' : 'fa-regular'}"></i>
            </button>
          </div>
        </form>
        <!-- Link do logowania wyświetlamy tylko wtedy, gdy użytkownik nie jest zalogowany -->
        <p sec:authorize="!isAuthenticated()">
          <a href="#" th:href="@{/login}">Zaloguj się</a>, aby oddać głos
        </p>
      </div>
    </section>
    <!-- trailer -->
    <section class="movie-trailer-container movie-section">
      <h2 class="movie-section-heading">Trailer</h2>
      <iframe width="560" height="315" class="movie-trailer"
              th:src="|https://www.youtube.com/embed/${movie.youtubeTrailerId}|"
              src="https://www.youtube.com/embed/V75dMMIW2B4"
              frameborder="0" allow="autoplay; encrypted-media" allowfullscreen title="video"></iframe>
    </section>
    <!-- opis -->
    <section class="movie-section">
      <h2 class="movie-section-heading">Opis</h2>
      <p th:text="${movie.description}">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
        odio, vestibulum in vulputate at,
        tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
        faucibus.</p>
    </section>

    <section class="movie-section">
      <h2 class="movie-section-heading">Komentarze</h2>
      <form class="mc-form">
        <textarea class="" rows="5" placeholder="Napisz co myślicz o tym filmie..."></textarea>
        <button type="submit">Dodaj</button>
      </form>
    </section>
    <section class="movie-section">
      <ul>
        <li class="movie-list-item" th:each="comment : ${comments}">
          <div class="movie-list-item-content">
          <h3 class="movie-section-heading">Autor</h3>
          <p th:text="${comment.content}">
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
            odio, vestibulum in vulputate at,
          </p>
          </div>
        </li>
      </ul>
    </section>
  </main>
</div>
</body>
</html>